@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 1px;
}

.header-1 {
    background-color: #262678;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fas fa-search {
    margin: 0 auto;
    font-size: 30px;
}


.search-form {
    width: 55%;
    height: 40px;
    border: border;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    display: flex;
}

.search-form input {
    font-size: 20px;
    padding: 0 12px;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: #000;

}

.search-form label {
    font-size: 30px;
    padding-right: 15px;
    color: #000;
    cursor: pointer;

}

.search-form,
label:hover {
    color: #6262F4;
}

.icons div,
.icons a {
    font-size: 25px;
    margin-left: 25px;
    color: #000;
    cursor: pointer;
}

.icons div:hover,
.icons div a:hover {
    color: #6262F4;
}

#search-btn {
    display: none;
}

/* nav */
#iconMenu {
    color: #262678;
    cursor: pointer;
    min-height: 25px;
    display: block;
    overflow: hidden;
    line-height: 25px;
    padding-left: 1%;
    font-size: 25px;
    background-color: #6262F4;
}

nav {
    min-height: 25px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    line-height: 20px;
    padding-left: 1%;
    background-color: #6262F4;
    font-size: 17px;
    gap: 5rem;
}

nav a:link,
nav a:visited,
#inconMenu:link,
#iconMenu:visited {
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover,
nav a:focus,
#inconMenu:hover,
#iconMenu:focus {
    background-color: #ddd;
    color: #262678;
    transition: background-color 1s;
}

/* footer */
.footer {
    border-top: solid #7f7f80 5px;
    background-color: #6262F4;
    color: #ddd;
    text-align: center;
    width: 100%;
    margin-top: 500px;
}

.footer img {
    margin: 0 5px;
}

.footer-conteudo {
    padding: 15px;
    color: #fff;

}

.footer-conteudo ul {
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;

}

.footer-cont img {
    min-width: 45px;
    width: 45px;
}

#card-imagem {
    background-color: #6262F4;
}

.menu-footer a {
    text-decoration: none;
    color: #fff;
}

.menu-footer a:hover {
    color: #7f7f80;
}

.redes img {
    min-width: 45px;
    width: 45px;

}

.footer-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.rede-icons a {
    display: inline-block;
    font-size: 22px;
    color: #ddd;
    transition: all .40s ease;
    padding: 10px;
}

.rede-icons a:hover {
    color: #7f7f80;
    transform: translateY(-5px);
}

.menu-footer,
.redes {
    margin: 0 auto;
}

.bottom-bar {
    background-color: #262678;
    text-align: center;
    padding: 1px;
    margin-top: 1px;
}

.bottom-bar h5 {
    color: #000;
    margin: 0;
    font-size: 10px;
    padding: 7px;
}


/* Banner */

.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    width: 100px;
    height: 200px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    text-align: center;
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


/* categorias */

.card-conteudo-icons {
    margin: 15px;
    padding: 3%;

}

.card-conteudo img {
    width: 80%;
    padding: 10px;
    background-color: #6262F4;
}

.card-conteudo figure {
    margin: 1%;
    text-align: center;
    width: 115px;

}

.card-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-conteudo-icons h2 {
    text-align: center;
}

#card-camera {
    border-radius: 25px;
    background-color: #267829;
}

#card-fone {
    border-radius: 25px;
    background-color: #0b2eaf;
}

#card-boneco {
    border-radius: 25px;
    background-color: #ae0b21;
}

#card-filmadora {
    border-radius: 25px;
    background-color: #717171;
}

#card-informatica {
    border-radius: 25px;
    background-color: #df7d0e;
}

#card-celular {
    border-radius: 25px;
    background-color: rgb(195, 205, 50);
}

#card-carrinho {
    border-radius: 25px;
    background-color: #0bb5e4;
}

card-conteudo:link,
card-conteudo:visited,
#inconMenu:link,
#iconMenu:visited {
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Produtos */
.card {
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    width: 230px;
    padding: 20px;
    margin-top: 35px;
}

.cdpf {
    margin: 45px;
    gap: 2rem;
    margin-top: 15px;
}

.card:hover {
    box-shadow: 0 8px 10px 0;
}

.card img {
    width: 100%;
    height: 150px;
}

.container {
    padding: 2px 16px;
}

.card button {
    border: none;
    border-radius: 35px;
    outline: 0;
    padding: 10px;
    color: #000;
    background-color: #6262F4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.card button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 700px) {
    body{
        padding-bottom: 6rem;
    }
    .hearder-1 {
       padding: 2rem;

    }

    /* Nav */
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #iconMenu {
        display: none;
    }

    nav a {
        padding: 10px;
    }

    /* Footer */
    .footer-conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       

    }

    /* Produto */

    .cdpf {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        margin: 0;

    }
}

@media screen and (min-width: 500px){
    .hearder-1 {
       padding: 2rem;
    }
    
    
    .cdpf{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}









/* Contato */
.conteudo-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dad8d8; 
}

.conteudo-info, article{
    width: 12rem;
    padding: 1px;
    margin: 1rem;
    
}
.conteudo-info{
    margin: auto;
    max-width: 300px;
    width: 100%;
}
.conteudo-info input, .conteudo-info textarea{
    border: solid 2px #717171;
    width: 100%;
    height: 100%;
    margin: 4px ;
    padding: 5px;
    border-radius: 5px;
    display: block;
}
.conteudo-info input{
    height: 40px;
}
.conteudo-info label{
    font-weight: bold;
}
.conteudo-info btton:hover,
.conteudo-info button:focus{
    background-color: #262678;
    cursor: pointer;
}
.conteudo-info button{
    border: none;
    padding: 2%;
    background-color: #6262F4;
    color: white;
    border-radius: 10px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}













/* CADASTRO */

#form-container{
  background-color: #717171;
  border-radius: 5px;
  box-shadow: 0 2px 10px;
  width: 400px;
}

h1{
    text-align: center;
    margin: 0 0 20px;
}

#form{
    margin: auto;
    max-width: 500px;
    width: 95%;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-section{
    padding: 30px 40px;
}
.form-input{
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
}

.form-input label{
    color: #777;
    display: block;
    margin-bottom: 10px;
}

.form-input input{
    border: solid 2px #777;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
}

.form-input input:focus {
    outline: 0;
    border-color: #777;
}


 button{
    border: 1px solid #6262F4;
    background-color: #6262F4;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border-radius: 15px ;  
    margin-top: 10px;
}

 button:hover{
    opacity: 0.9;
}




Criar conta
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #262678 ;
    margin-top: 70px;
   
}

#form-cadastro,form{
    flex-wrap: wrap;
    padding: 35px;
}

label, button{
    display: block;
}

button{
    border: 1px solid #6262F4;
    background-color: #6262F4;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px ;   
}

button:hover{
    opacity: 0.9;
}

input{
    width: 300px;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    margin: 4px;
}



